@font-face {
    font-family: "Lemon Milk";
    src: url('Fonts/LemonMilk/LEMONMILK-Bold.otf'),
         url('Fonts/LemonMilk/LEMONMILK-BoldItalic.otf'),
         url('Fonts/LemonMilk/LEMONMILK-Light.otf'),
         url('Fonts/LemonMilk/LEMONMILK-LightItalic.otf'),
         url('Fonts/LemonMilk/LEMONMILK-Medium.otf'),
         url('Fonts/LemonMilk/LEMONMILK-MediumItalic.otf'),
         url('Fonts/LemonMilk/LEMONMILK-Regular.otf'),
         url('Fonts/LemonMilk/LEMONMILK-RegularItalic.otf');
}
@font-face {
    font-family: "montserrat";
    src: url('Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf'),
         url('Fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: "Sora";
    src: url('Fonts/Sora/Sora-VariableFont_wght.ttf');
}
body {
    background-color: #eaf6f6;
}
p{
    font-size: 13px;
    font-family: "Sora";
    color: #66bfbf;
}
h1{
    font-family:"montserrat";
    color: #66bfbf;
}
h2{
    font-family:"montserrat";
    color: #66bfbf;
}
hr{
    border-color: #D4D4D4;
    border-style: none;
    border-top-style: dotted;
    width: 4%;
    border-width: 5px;
}
table{
    border-color: #66bfbf;
}
img{
    height: 175px;
    border:3px solid #116A7B;
    border-radius: 100%;
    filter: drop-shadow(3px 3px 10px black);
}
a{
    color:#116A7B;
}
h3{
    font-family: "montserrat";
    color: #66bfbf;
}
li{
    font-size: 13px;
    font-family: "Sora";
    color: #116A7B;
}
td{
    font-family: "Sora";
    color: #116A7B;
}
th{
    font-family: "Sora";
    color: #116A7B;
    font-size: 20px;
}
.skills{
    font-size: 13px;
}
#name{
    font-family:"Lemon Milk";
    font-size: 40px;
}
#name:hover{
    font-size: 40px;
    color: #116A7B;
}
label{
    color:#116A7B;
    font-family: "montserrat";
    font-weight: bold;
}
#submit{
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    padding: 12px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: none;
    font-family: "montserrat";
    font-weight: bold;
}

#submit:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
#textbox{
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: none;
    border-bottom:2px solid#116A7B;
    background-color: transparent;
}
#textbox:focus{
    outline: none;
}
.form_table{
    background-color: #eaf6f6;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    border-style: dotted;
    border-width: 4px;
}
.h3_links{
    font-family:"montserrat";
    color: #66bfbf;
}
.h3_links:hover{
    font-family:"montserrat";
    color: #116A7B;
}
.nav_button{
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border: none;
    font-family: "montserrat";
    font-weight: bold;
    float: right;
}
.nav_button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 