body {
    background-color: #eaf6f6;
}
p{
    font-size: 13px;
    font-family: "Sora";
    color: #66bfbf;
}
h1{
    font-family:"montserrat";
    color: #66bfbf;
}
h2{
    font-family:"montserrat";
    color: #66bfbf;
}
hr{
    border-color: #D4D4D4;
    border-style: none;
    border-top-style: dotted;
    width: 4%;
    border-width: 5px;
}
table{
    border-color: #66bfbf;
}
img{
    height: 175px;
    border:3px solid #116A7B;
    border-radius: 100%;
    filter: drop-shadow(3px 3px 10px black);
}
a{
    color:#116A7B;
}
h3{
    font-family: "montserrat";
    color: #66bfbf;
}
li{
    font-size: 13px;
    font-family: "Sora";
    color: #116A7B;
}
td{
    font-family: "Sora";
    color: #116A7B;
}
th{
    font-family: "Sora";
    color: #116A7B;
    font-size: 20px;
}
.skills{
    font-size: 13px;
}
#name{
    font-family:"Lemon Milk";
    font-size: 40px;
}
#name:hover{
    font-size: 40px;
    color: #116A7B;
}
label{
    color:#116A7B;
    font-family: "montserrat";
}
#submit{
    background-color: #eaf6f6;
    font-family: "montserrat";
    color: #116A7B;
    border-color:#116A7B ;
    border-radius:10%;
    padding: 7px;
    filter: drop-shadow(3px 3px 7px black);
}
#submit:hover{
    background-color: #116A7B;
    font-family: "montserrat";
    color: #eaf6f6;
    border-color:#eaf6f6 ;
    border-radius:10%;
    padding: 7px;
    filter: drop-shadow(3px 3px 7px black);
}
#textbox{
    background-color: #F5F5F5;
    font-family: "montserrat";
    color: #116A7B;
    border-color:#116A7B ;
    border-radius:10%;
}
.form_table{
    background-color: #eaf6f6;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    border-style: dotted;
    border-width: 4px;
}
.h3_links{
    font-family:"montserrat";
    color: #66bfbf;
}
.h3_links:hover{
    font-family:"montserrat";
    color: #116A7B;
}
.nav_button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ade8f4;
    color: #0077b6;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 14px;
    border-color: #0077b6;
    float: right;
}
.nav_button:hover{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0077b6;
    color: #ade8f4;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 14px;
    border-color: #ade8f4;
    float: right;
}